sudo: false

language: go
go:
- '1.12'
env:
- GO111MODULE=on

services:
- docker

install:
- go get -t
- go get github.com/mattn/goveralls

script:
# subpackage github.com/postfinance/vault/kv
- cd ./kv
- go vet 
#- export DOCKER_HOST=$(docker info -f '{{.Name}}') 
- export DOCKER_HOST="127.0.0.1" 
- echo ${DOCKER_HOST}
- go test -v -race 
- go test -covermode=count -coverprofile=coverage.out 
- $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci
- cd -

branches:
  only:
  - master

matrix:
  fast_finish: true

